<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd ">

	<bean id="employee1" class="com.mycompany.example.springioc.entity.Employee">
		<property name="employeeName" value=""></property>
	</bean>
	
	<bean id="employee2" class="com.mycompany.example.springioc.entity.Employee">
		<property name="employeeName">
			<null />
		</property>
	</bean>
	
	<!-- Dependency injection - Injecting null and empty string values in Spring. Used in PayrollSystem06 -->
</beans>
