<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd ">

	<bean id="indianEmployee" class="com.mycompany.example.springioc.entity.Employee">
		<property name="country" value="India"></property>
	</bean>
	
	<bean id="employeeBean" parent="indianEmployee">
		<property name="employeeName" value="Ravi KantSoni"></property>
		<property name="employeeAge" value="35"></property>
		<property name="married" value="true"></property>
	</bean>

	<!-- Dependency injection - Injecting null and empty string values in Spring. Used in PayrollSystem07 -->
</beans>
